/*

Project Name: Cookie Monster 
Client: Cookie Monster
Author: Chris Castiglione | www.twitter.com/castig | www.castig.org 
Developed @ One Month in NYC 

*/

body {
	background: url("../images/—Pngtree—landscape_5619616.png");
	/*background: url('../images/cookie-monster.jpg');*/
	/* the follow is the code to have the image display as a full page */
	background-position: center;
	background-attachment: fixed;
	-webkit-background-size: cover; /* the next 3 lines are "browser prefixes", they are necessary to include for CSS3 techniques */
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	font-family: 'Barlow Semi Condensed', sans-serif;
}

#container {
	background: darkgreen;
	width: 424px;
	color: white;
	padding: 15px;

}

h1 {
	font-size: 80px;
}

h2 {
	background: cornflowerblue;
	color: black;
	padding: 5px;
	border-radius: 5px;
}

a {
	color: #75c1f6;
	text-decoration: none;
}

